@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat&family=Mulish:ital@1&family=Poppins&family=Raleway&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .logoTitleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 7px dashed #0111a0;
  border-radius: 20px;
  margin: 6vh;
  padding: 1vh 5vw;
  gap: 1rem;
} */

.logo {
  width: 12rem;
  margin: 2rem 0rem 0.5rem;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
}

/* .title {
  font-size: 3rem;
} */

.cardsContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 1300px;
  margin: 0 auto;
}

.card {
  width: 400px;
  height: max-content;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  transition: transform ease 0.5s, box-shadow ease 0.5s;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.cityImage {
  width: 380px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.tourInfo {
  margin: 20px 5px;
}

.tourPrice {
  color: #1faa59;
  font-size: 1.3rem;
}

.tourPrice::before {
  content: "₹ ";
}

.tourCityName {
  font-size: 1.5rem;
}

.readMore {
  color: #12b0e2;
  cursor: pointer;
}

.notIntrestedBtn {
  color: black;
  border-radius: 10px;
  background-color: #b4161b21;
  border: 1px solid #b4161b;
  padding: 10px 80px;
  /* text-align: center; */
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 18px;
  transition: all 0.4s;
}

.notIntrestedBtn:hover {
  background-color: red;
  color: white;
}

.refresh {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.refresh h2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: capitalize;
}

.refreshBtn {
  border: 2px solid #000000;
  border-radius: 2rem;
  cursor: pointer;
  margin-top: 18px;
  padding: 10px 60px;
}
